*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

button {
    cursor: pointer;
    border-radius: .5em;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    transition: .3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5) ;
}